.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  background-color: aliceblue;
  font-weight: bold;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 15px -3px rgba(180, 16, 212, 0.966);
  cursor: pointer;
}

.button:hover {
  box-shadow: 0px 5px 18px rgba(180, 16, 212, 0.966);
}
.equals {
  grid-column: 3 / 5;
  background-color: rgba(196, 96, 216, 0.966);
  color: white;
  border-color: black;
  font-size: large;
}
.operator {
  background-color: rgba(196, 96, 216, 0.966);
  color: white;
  border-color: black;
  font-size: large;
}
