.wrapper {
  background-color: black;
  border-radius: 0.5rem;
  width: 25rem;
  padding: 2rem;
  height: 40rem;
  box-shadow: 0px 10px 50px -4px rgba(180, 16, 212, 0.966);
}

@media (max-width: 575.98px) {
  .wrapper {
    width: 15rem;
    height: 30rem;
    padding: 2.4rem;
  }
}

@media (min-width: 2559px) {
  .wrapper {
    width: 70rem;
    height: 80rem;
    padding: 2.4rem;
  }
}
